{% extends 'main/layout.html' %}
{% load static %}

{% block body %}
    <div class="wrapper">
        {% include 'main/includes/header.html' %}
        {% include 'main/includes/menu.html' %}

        <div class="p-catalog">
            <div class="page-head">
                <div class="page-head__inner container">
                    <h1 class="page-head__title">Проекты</h1>
                    <div class="projects-filter">
                        <a class="projects-filter__item projects-filter__item--current"
                           href="https://salazckin.github.io/third/catalog">все</a>
                        <span class="projects-filter__separ">/</span>
                        <a class="projects-filter__item" href="https://salazckin.github.io/third/catalog/repair">Ремонт
                            квартир и домов</a>
                        <span class="projects-filter__separ">/</span>
                        <a class="projects-filter__item" href="https://salazckin.github.io/third/catalog/offices">Ремонт
                            офисов</a>
                    </div>
                </div>
            </div>


            <div class="block pb-sm">
                <div class="container">


                    <div class="projects-stack">
                        <div class="projects-stack__col projects-stack__col--lg">
                            <a class="project-card project-card--white-text" data-aos="fade-up"
                               href="https://salazckin.github.io/third/catalog/123">
                                <div class="project-card__img-w">
                                    <picture>
                                        <source srcset="{% static 'main/content/data/6/Aivazovsky-001.png' %}"
                                                type="image/webp">
                                        <source srcset="{% static 'main/content/data/6/Aivazovsky-001.png' %}"
                                                type="image/png">
                                        <img src="{% static 'main/content/data/6/Aivazovsky-001.png' %}"
                                             alt="Квартира на&#160;Красногорском бульваре"/>
                                    </picture>

                                </div>
                                <div class="project-card__decor"></div>
                                <div class="project-card__text">
                                    <div class="project-card__title">Квартира-студия</div>
                                    <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                </div>
                            </a>
                        </div>
                        <div class="projects-stack__col">
                            <a class="project-card project-card--sm project-card--black-text" data-aos="fade-up"
                               href="https://salazckin.github.io/third/catalog/123">
                                <div class="project-card__img-w">
                                    <picture>
                                        <source srcset="{% static 'main/content/data/6/Aivazovsky-001.png' %}"
                                                type="image/webp">
                                        <source srcset="{% static 'main/content/data/6/Aivazovsky-001.png' %}"
                                                type="image/png">
                                        <img src="{% static 'main/content/data/6/Aivazovsky-001.png' %}"/>
                                    </picture>

                                </div>
                                <div class="project-card__decor"></div>
                                <div class="project-card__text">
                                    <div class="project-card__title">Квартира-студия</div>
                                    <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                </div>
                            </a>
                            <a class="project-card project-card--sm project-card--black-text" data-aos="fade-up"
                               href="https://salazckin.github.io/third/catalog/123">
                                <div class="project-card__img-w">
                                    <picture>
                                        <source srcset="{% static 'main/content/data/1/Spiridonovka-001.png' %}"
                                                type="image/webp">
                                        <source srcset="{% static 'main/content/data/1/Spiridonovka-001.png' %}"
                                                type="image/png">
                                        <img src="{% static 'main/content/data/1/Spiridonovka-001.png' %}"/>
                                    </picture>

                                </div>
                                <div class="project-card__decor"></div>
                                <div class="project-card__text">
                                    <div class="project-card__title">Квартира-студия</div>
                                    <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="projects-stack">
                        <div class="projects-stack__col">
                            <a class="project-card project-card--sm project-card--black-text" data-aos="fade-up"
                               href="https://salazckin.github.io/third/catalog/123">
                                <div class="project-card__img-w">
                                    <picture>
                                        <source srcset="{% static 'main/content/data/6/Aivazovsky-001.png' %}"
                                                type="image/webp">
                                        <source srcset="{% static 'main/content/data/6/Aivazovsky-001.png' %}"
                                                type="image/png">
                                        <img src="{% static 'main/content/data/6/Aivazovsky-001.png' %}"/>
                                    </picture>

                                </div>
                                <div class="project-card__decor"></div>
                                <div class="project-card__text">
                                    <div class="project-card__title">Квартира-студия</div>
                                    <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                </div>
                            </a>
                            <a class="project-card project-card--sm project-card--white-text" data-aos="fade-up"
                               href="https://salazckin.github.io/third/catalog/123">
                                <div class="project-card__img-w">
                                    <picture>
                                        <source srcset="{% static 'main/content/data/4/Profsouznaya-001.png' %}"
                                                type="image/webp">
                                        <source srcset="{% static 'main/content/data/4/Profsouznaya-001.png' %}"
                                                type="image/png">
                                        <img src="{% static 'main/content/data/4/Profsouznaya-001.png' %}"/>
                                    </picture>

                                </div>
                                <div class="project-card__decor"></div>
                                <div class="project-card__text">
                                    <div class="project-card__title">Квартира-студия</div>
                                    <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                </div>
                            </a>
                        </div>
                        <div class="projects-stack__col projects-stack__col--lg">
                            <a class="project-card project-card--black-text" data-aos="fade-up"
                               href="https://salazckin.github.io/third/catalog/123">
                                <div class="project-card__img-w">
                                    <picture>
                                        <source srcset="{% static 'main/content/data/8/Chistoprudny-001.png' %}"
                                                type="image/webp">
                                        <source srcset="{% static 'main/content/data/8/Chistoprudny-001.png' %}"
                                                type="image/png">
                                        <img src="{% static 'main/content/data/8/Chistoprudny-001.png' %}"/>
                                    </picture>

                                </div>
                                <div class="project-card__decor"></div>
                                <div class="project-card__text">
                                    <div class="project-card__title">Квартира-студия</div>
                                    <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="projects-stack">
                        <div class="projects-stack__col projects-stack__col--lg">
                            <a class="project-card project-card--black-text" data-aos="fade-up"
                               href="https://salazckin.github.io/third/catalog/123">
                                <div class="project-card__img-w">
                                    <picture>
                                        <source srcset="{% static 'main/content/data/7/Chertanovo-001.png' %}"
                                                type="image/webp">
                                        <source srcset="{% static 'main/content/data/7/Chertanovo-001.png' %}"
                                                type="image/png">
                                        <img src="{% static 'main/content/data/7/Chertanovo-001.png' %}"/>
                                    </picture>

                                </div>
                                <div class="project-card__decor"></div>
                                <div class="project-card__text">
                                    <div class="project-card__title">Квартира-студия</div>
                                    <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                </div>
                            </a>
                        </div>
                        <div class="projects-stack__col">
                            <a class="project-card project-card--sm project-card--black-text" data-aos="fade-up"
                               href="https://salazckin.github.io/third/catalog/123">
                                <div class="project-card__img-w">
                                    <picture>
                                        <source srcset="{% static 'main/content/data/8/M-Zhukova-001.png' %}"
                                                type="image/webp">
                                        <source srcset="{% static 'main/content/data/8/M-Zhukova-001.png' %}"
                                                type="image/png">
                                        <img src="{% static 'main/content/data/8/M-Zhukova-001.png' %}"/>
                                    </picture>

                                </div>
                                <div class="project-card__decor"></div>
                                <div class="project-card__text">
                                    <div class="project-card__title">Квартира-студия</div>
                                    <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                </div>
                            </a>
                            <a class="project-card project-card--sm project-card--black-text" data-aos="fade-up"
                               href="https://salazckin.github.io/third/catalog/123">
                                <div class="project-card__img-w">
                                    <picture>
                                        <source srcset="{% static 'main/content/data/4/Bibirevo-001.png' %}"
                                                type="image/webp">
                                        <source srcset="{% static 'main/content/data/4/Bibirevo-001.png' %}"
                                                type="image/png">
                                        <img src="{% static 'main/content/data/4/Bibirevo-001.png' %}"/>
                                    </picture>

                                </div>
                                <div class="project-card__decor"></div>
                                <div class="project-card__text">
                                    <div class="project-card__title">Квартира-студия</div>
                                    <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="projects-stack">
                        <div class="projects-stack__col projects-stack__col--lg">
                            <a class="project-card project-card--white-text" data-aos="fade-up"
                               href="https://salazckin.github.io/third/catalog/123">
                                <div class="project-card__img-w">
                                    <picture>
                                        <source srcset="{% static 'main/content/data/6/Aivazovsky-001.png' %}"
                                                type="image/webp">
                                        <source srcset="{% static 'main/content/data/6/Aivazovsky-001.png' %}"
                                                type="image/png">
                                        <img src="{% static 'main/content/data/6/Aivazovsky-001.png' %}"/>
                                    </picture>

                                </div>
                                <div class="project-card__decor"></div>
                                <div class="project-card__text">
                                    <div class="project-card__title">Квартира-студия</div>
                                    <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <footer class="footer">
            <div class="footer-top">
                <div class="footer-top__inner container">
                    <div class="footer-row">
                        <div class="footer-row__col">
                            <ul class="footer-list">
                                <li>
                                    <a rel="nofollow" class="group text-nowrap" href="tel:+7 495 222 33 11">
                                        <i class="icon-phone"></i>
                                        <span>+7 495 222 33 11</span>
                                    </a>
                                </li>
                                <li>
                                    <a rel="nofollow" class="group" href="mailto:salazckin@gmail.ru">
                                        <i class="icon-email"></i>
                                        <span>	salazckin@gmail.ru</span>
                                    </a>
                                </li>
                                <li>

                                    <div class="group">
                                        <i class="icon-map-point"></i>
                                        <span>Москва, ул. Дурова 29</span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="footer-list">
                                <li>
                                    <a class="group" href="https://www.instagram.com" target="_blank" rel="external"
                                       title="инстаграм">
                                        <i class="icon-instagram"></i>
                                        <span>Подписывайтесь на наш инстаграм!</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-row__col">
                            <ul class="footer-list footer-list--sm">
                                <li>
                                    <a href="#">Дизайн и проектирование</a>
                                </li>
                                <li>
                                    <a href="#">Ремонт квартир и домов</a>
                                </li>
                                <li>
                                    <a href="#">Ремонт офисов</a>
                                </li>
                                <li>
                                    <a href="#">Строительство домов</a>
                                </li>
                                <li>
                                    <a href="#">Проекты</a>
                                </li>
                            </ul>
                            <ul class="footer-list footer-list--sm">
                                <li>
                                    <a href="#">Согласование перепланировок</a>
                                </li>
                                <li>
                                    <a href="#">Технический надзор</a>
                                </li>
                                <li>
                                    <a href="#">О компании</a>
                                </li>
                                <li>
                                    <a href="#">Контакты</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bot">
                <div class="footer-bot__inner container">
                    <div class="footer-bot__info">
                        <div class="footer-bot__copyright"></div>
                        <div class="footer-bot__dev">
                            разработка сайта — salazckin.github.io

                        </div>
                    </div>
                    <button class="footer-bot__scrolltop" type="button">
                        <i class="icon-up"></i>
                    </button>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}
