{% extends 'main/layout.html' %}
{% load static %}

{% block body %}

    <div class="wrapper">
        {% include 'main/includes/header.html' %}
        {% include 'main/includes/menu.html' %}

        <div class="p-contacts">
            <div class="page-head">
                <div class="page-head__inner container">
                    <h1 class="page-head__title">{{ object.heading }}</h1>
                </div>
            </div>
            <div class="block bg-white pb-sm">
                <div class="contacts-grid container-md mb-md">
                    <div class="row">
                        <div class="col-md-6">
                            <p>{{ object.company_name_heading }}
                                <br> {{ contact.company_name }}
                                <br>
                            </p>
                            <p>{{ object.addr_heading }}
                                <br> {{ contact.addr }}

                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                            <div>{{ object.phone_heading }}</div>
                            <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
                            </p>
                            <p>
                            <div>{{ object.working_time_heading }}</div>
                            <div>{{ contact.working_time }}</div>
                            </p>
                            <p>
                            <div>{{ object.email_heading }}</div>
                            <a href="{{ contact.email }}">{{ contact.email }}</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="map" id="map"></div>
                </div>
            </div>
            <div class="block">
                <div class="container-md mb-md">
                    <h2 class="text-center mb-lg">{{ object.form_heading }}</h2>
                    <form class="form" action="/feedback">
                        <div class="form__field-group">
                            <div class="form__field">
                                <input class="input-default" name="FullName" data-val="true" data-val-required
                                       type="text" placeholder="Представьтесь, пожалуйста">
                            </div>
                            <div class="form__field">
                                <input class="input-default" name="Email" data-val="true" data-val-required
                                       data-val-email type="email" placeholder="Ваш e-mail">
                            </div>
                            <div class="form__field">
                                <input class="input-default" name="Text" data-val="true" data-val-required type="text"
                                       placeholder="Ваш комментарий">
                            </div>
                        </div>
                        <button class="form__submit btn btn-status" type="submit">{{ object.submit_text }}</button>

                    </form>

                </div>
            </div>

        </div>

        {% include 'main/includes/footer.html' %}
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?language=ru&key=AIzaSyAp8fJIR1ICTOzqhcKjWLR6Yl8h3U25OoY"></script>


{% endblock %}


