{% extends 'main/layout.html' %}
{% load static %}


{% block html-class %}
    overflow-hidden
{% endblock %}

{% block body %}
    <div class="wrapper">
        {% include 'main/includes/header.html' %}

        {% include 'main/includes/menu.html' %}

        <div class="p-home">
            <div class="panels-wrap">
                <div class="hero-panel" id="hero-panel-offices">
                    <div class="hero-panel__inner">
                        <ul class="hero-panel__list">
                            <li>
                                <a class="project-card project-card--tile"
                                   href="https://salazckin.github.io/third/catalog/123">
                                    <div class="project-card__img-w">
                                        <picture>
                                            <source srcset="{% static 'main//content/data/0/cafe-001.png' %}"
                                                    type="image/webp">
                                            <source srcset="{% static 'main//content/data/0/cafe-001.png' %}"
                                                    type="image/png">
                                            <img src="{% static 'main/content/data/0/cafe-001.png' %}"/>
                                        </picture>

                                    </div>
                                    <div class="project-card__decor"></div>
                                    <div class="project-card__text">
                                        <div class="project-card__title">Квартира-студия</div>
                                        <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="hero-panel" id="hero-panel-repair">
                    <div class="hero-panel__inner">
                        <ul class="hero-panel__list">
                            <li>
                                <a class="project-card project-card--tile"
                                   href="https://salazckin.github.io/third/catalog/123">
                                    <div class="project-card__img-w">
                                        <picture>
                                            <source srcset="{% static 'main/content/data/5/Krasnogorsky-001.png' %}"
                                                    type="image/webp">
                                            <source srcset="{% static 'main/content/data/5/Krasnogorsky-001.png' %}"
                                                    type="image/png">
                                            <img src="{% static 'main/content/data/5/Krasnogorsky-001.png' %}"
                                                 alt="Квартира на&#160;Красногорском бульваре"/>
                                        </picture>

                                    </div>
                                    <div class="project-card__decor"></div>
                                    <div class="project-card__text">
                                        <div class="project-card__title">Квартира-студия</div>
                                        <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="project-card project-card--tile"
                                   href="https://salazckin.github.io/third/catalog/123">
                                    <div class="project-card__img-w">
                                        <picture>
                                            <source srcset="{% static 'main/content/data/7/Novoyasen-001.png' %}"
                                                    type="image/webp">
                                            <source srcset="{% static 'main/content/data/7/Novoyasen-001.png' %}"
                                                    type="image/png">
                                            <img src="{% static 'main/content/data/7/Novoyasen-001.png' %}"/>
                                        </picture>

                                    </div>
                                    <div class="project-card__decor"></div>
                                    <div class="project-card__text">
                                        <div class="project-card__title">Квартира-студия</div>
                                        <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="project-card project-card--tile"
                                   href="https://salazckin.github.io/third/catalog/123">
                                    <div class="project-card__img-w">
                                        <picture>
                                            <source srcset="{% static 'main/content/data/1/Spiridonovka-001.png' %}"
                                                    type="image/webp">
                                            <source srcset="{% static 'main/content/data/1/Spiridonovka-001.png' %}"
                                                    type="image/png">
                                            <img src="{% static 'main/content/data/1/Spiridonovka-001.png' %}"/>
                                        </picture>

                                    </div>
                                    <div class="project-card__decor"></div>
                                    <div class="project-card__text">
                                        <div class="project-card__title">ККвартира-студия</div>
                                        <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="project-card project-card--tile"
                                   href="https://salazckin.github.io/third/catalog/123">
                                    <div class="project-card__img-w">
                                        <picture>
                                            <source srcset="{% static 'main/content/data/6/Aivazovsky-001.png' %}"
                                                    type="image/webp">
                                            <source srcset="{% static 'main/content/data/6/Aivazovsky-001.png' %}"
                                                    type="image/png">
                                            <img src="{% static 'main/content/data/6/Aivazovsky-001.png' %}"/>
                                        </picture>

                                    </div>
                                    <div class="project-card__decor"></div>
                                    <div class="project-card__text">
                                        <div class="project-card__title">Квартира-студия</div>
                                        <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="section-wrap">
                <div class="section section-hero section--active" data-nav-color="#ffffff">
                    <div class="section-hero__bg">
                        <picture>
                            <source srcset="{% static 'main//content/data/3/01-home-slide.png' %}" type="image/webp">
                            <source srcset="{% static 'main//content/data/3/01-home-slide.png' %}" type="image/png">
                            <img src="{% static 'main/content/data/3/01-home-slide.png' %}"/>
                        </picture>

                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <h1 class="hero-title">
                                    Меняем любое пространство к&nbsp;лучшему: строим дома, делаем ремонт в квартирах и
                                    офисах

                                </h1>
                            </div>
                        </div>
                    </div>
                    <button class="scroll-down" type="button">
                        <div class="scroll-down__caption">
                            вниз
                        </div>
                        <div class="scroll-down__line"></div>
                    </button>
                </div>
                <div class="section section-design to-left" data-from="bottom">
                    <div class="container">
                        <div class="parallax-block">
                            <div class="parallax-block__img-w">
                                <picture>
                                    <source srcset="{% static 'main//content/data/5/02-home-slide.png' %}"
                                            type="image/webp">
                                    <source srcset="{% static 'main//content/data/5/02-home-slide.png' %}"
                                            type="image/png">
                                    <img src="{% static 'main/content/data/5/02-home-slide.png' %}"/>
                                </picture>

                            </div>
                            <div class="parallax-block__text">
                                <h2 class="parallax-block__title h1-like">
                                    Дизайн<br/>и&nbsp;проектирование
                                </h2>
                                <div class="parallax-block__subtitle h3-like">
                                    Продумываем до мелочей,<br/> бережём ваше время
                                </div>

                                <a class="parallax-block__more "
                                   href="https://salazckin.github.io/third/services/design">узнать больше</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section-repair-house to-right to-bottom" data-from="left">
                    <div class="container">
                        <div class="parallax-block">
                            <div class="parallax-block__img-w">
                                <picture>
                                    <source srcset="{% static 'main//content/data/9/03-home-slide.png' %}"
                                            type="image/webp">
                                    <source srcset="{% static 'main//content/data/9/03-home-slide.png' %}"
                                            type="image/png">
                                    <img src="{% static 'main/content/data/9/03-home-slide.png' %}"/>
                                </picture>

                            </div>
                            <div class="parallax-block__text">
                                <h2 class="parallax-block__title h1-like">
                                    Ремонт квартир<br/>и&nbsp;домов
                                </h2>
                                <div class="parallax-block__subtitle h3-like">
                                    Минимализм и&nbsp;лаконичность для&nbsp;комфортной жизни
                                </div>

                                <a class="parallax-block__more "
                                   href="https://salazckin.github.io/third/services/home-repairs">узнать больше</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section-repair-office to-top to-right" data-from="bottom">
                    <div class="container">
                        <div class="parallax-block">
                            <div class="parallax-block__img-w">
                                <picture>
                                    <source srcset="{% static 'main//content/data/2/04-home-slide.png' %}"
                                            type="image/webp">
                                    <source srcset="{% static 'main//content/data/2/04-home-slide.png' %}"
                                            type="image/png">
                                    <img src="{% static 'main/content/data/2/04-home-slide.png' %}"/>
                                </picture>

                            </div>
                            <div class="parallax-block__text">
                                <h2 class="parallax-block__title h1-like">
                                    Ремонт<br>офисов
                                </h2>
                                <div class="parallax-block__subtitle h3-like">
                                    Создаём пространство,<br/> где удобно заниматься своим делом
                                </div>

                                <a class="parallax-block__more"
                                   href="https://salazckin.github.io/third/services/office-repairs">узнать больше</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section-house-build to-left" data-from="right">
                    <div class="container">
                        <div class="parallax-block">
                            <div class="parallax-block__img-w">
                                <picture>
                                    <source srcset="{% static 'main//content/data/3/05-home-slide.png' %}"
                                            type="image/webp">
                                    <source srcset="{% static 'main//content/data/3/05-home-slide.png' %}"
                                            type="image/png">
                                    <img src="{% static 'main/content/data/3/05-home-slide.png' %}"/>
                                </picture>

                            </div>
                            <div class="parallax-block__text">
                                <h2 class="parallax-block__title h1-like">
                                    Строительство домов
                                </h2>
                                <div class="parallax-block__subtitle h3-like">
                                    Эстетичные и функциональные<br/> дома, снаружи и внутри
                                </div>

                                <a class="parallax-block__more"
                                   href="https://salazckin.github.io/third/services/construction">узнать больше</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section section-projects" data-from="bottom">
                    <div class="container">
                        <h2 class="section__title h1-like">Проекты</h2>


                        <div class="projects-stack">
                            <div class="projects-stack__col projects-stack__col--lg">
                                <a class="project-card project-card--black-text" data-aos="fade-up"
                                   href="https://salazckin.github.io/third/catalog/123">
                                    <div class="project-card__img-w">
                                        <picture>
                                            <source srcset="{% static 'main//content/data/6/Aivazovsky-001.png' %}"
                                                    type="image/webp">
                                            <source srcset="{% static 'main//content/data/6/Aivazovsky-001.png' %}"
                                                    type="image/png">
                                            <img src="{% static 'main/content/data/6/Aivazovsky-001.png' %}"/>
                                        </picture>

                                    </div>
                                    <div class="project-card__decor"></div>
                                    <div class="project-card__text">
                                        <div class="project-card__title">Квартира-студия</div>
                                        <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                    </div>
                                </a>
                            </div>
                            <div class="projects-stack__col">
                                <a class="project-card project-card--sm project-card--black-text" data-aos="fade-up"
                                   href="https://salazckin.github.io/third/catalog/123">
                                    <div class="project-card__img-w">
                                        <picture>
                                            <source srcset="{% static 'main//content/data/7/Chertanovo-001.png' %}"
                                                    type="image/webp">
                                            <source srcset="{% static 'main//content/data/7/Chertanovo-001.png' %}"
                                                    type="image/png">
                                            <img src="{% static 'main/content/data/7/Chertanovo-001.png' %}"/>
                                        </picture>

                                    </div>
                                    <div class="project-card__decor"></div>
                                    <div class="project-card__text">
                                        <div class="project-card__title">Квартира-студия</div>
                                        <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                    </div>
                                </a>
                                <a class="project-card project-card--sm project-card--black-text" data-aos="fade-up"
                                   href="https://salazckin.github.io/third/catalog/123">
                                    <div class="project-card__img-w">
                                        <picture>
                                            <source srcset="{% static 'main//content/data/8/M-Zhukova-001.png' %}"
                                                    type="image/webp">
                                            <source srcset="{% static 'main//content/data/8/M-Zhukova-001.png' %}"
                                                    type="image/png">
                                            <img src="{% static 'main/content/data/8/M-Zhukova-001.png' %}"/>
                                        </picture>

                                    </div>
                                    <div class="project-card__decor"></div>
                                    <div class="project-card__text">
                                        <div class="project-card__title">Квартира-студия</div>
                                        <div class="project-card__subtitle">Москва, ул. Дурова 29</div>
                                    </div>
                                </a>
                            </div>
                        </div>


                        <div class="slider-projects slick">
                            <div class="slider-projects__item">
                                <a class="d-block" href="https://salazckin.github.io/third/catalog/123">
                                    <picture>
                                        <source srcset="{% static 'main//content/data/6/Aivazovsky-001.png' %}"
                                                type="image/webp">
                                        <source srcset="{% static 'main//content/data/6/Aivazovsky-001.png' %}"
                                                type="image/png">
                                        <img src="{% static 'main/content/data/6/Aivazovsky-001.png' %}"/>
                                    </picture>

                                </a>
                            </div>
                            <div class="slider-projects__item">
                                <a class="d-block" href="https://salazckin.github.io/third/catalog/123">
                                    <picture>
                                        <source srcset="{% static 'main//content/data/7/Chertanovo-001.png' %}"
                                                type="image/webp">
                                        <source srcset="{% static 'main//content/data/7/Chertanovo-001.png' %}"
                                                type="image/png">
                                        <img src="{% static 'main/content/data/7/Chertanovo-001.png' %}"/>
                                    </picture>

                                </a>
                            </div>
                            <div class="slider-projects__item">
                                <a class="d-block" href="https://salazckin.github.io/third/catalog/123">
                                    <picture>
                                        <source srcset="{% static 'main//content/data/8/M-Zhukova-001.png' %}"
                                                type="image/webp">
                                        <source srcset="{% static 'main//content/data/8/M-Zhukova-001.png' %}"
                                                type="image/png">
                                        <img src="{% static 'main/content/data/8/M-Zhukova-001.png' %}"/>
                                    </picture>

                                </a>
                            </div>
                        </div>

                        <div class="projects-all text-center">
                            <a class="btn projects-all__btn" href="https://salazckin.github.io/third/catalog">все
                                проекты</a>
                        </div>

                    </div>
                </div>
                <div class="section section-feedback" data-from="bottom">
                    <div class="container">
                        <h2 class="section__title h1-like">Заказать проект</h2>
                        <form class="form" action="">
                            <div class="form__field-group">
                                <div class="form__field">
                                    <input class="input-default" name="FullName" data-val="true" data-val-required
                                           type="text" placeholder="Представьтесь, пожалуйста">
                                </div>
                                <div class="form__field">
                                    <input class="input-default" name="Email" data-val="true" data-val-required
                                           data-val-email type="email" placeholder="Ваш e-mail">
                                </div>
                                <div class="form__field">
                                    <input class="input-default" name="Text" data-val="true" data-val-required
                                           type="text" placeholder="Ваш комментарий">
                                </div>
                            </div>
                            <button class="form__submit btn btn-status" type="submit">отправить</button>

                        </form>

                    </div>

                    {% include 'main/includes/footer.html' %}
                </div>
            </div>
            <div class="home-nav">
                <div class="home-nav__item is-active" data-to-section="0"></div>
                <div class="home-nav__item" data-to-section="1"></div>
                <div class="home-nav__item" data-to-section="2"></div>
                <div class="home-nav__item" data-to-section="3"></div>
                <div class="home-nav__item" data-to-section="4"></div>
                <div class="home-nav__item" data-to-section="5"></div>
                <div class="home-nav__item" data-to-section="6"></div>
            </div>

        </div>

    </div>

{% endblock %}

