{% extends 'main/layout.html' %}
{% load static %}
{% load reroom_template_tags %}

{% block body %}
    <div class="wrapper">
        {% include 'main/includes/header.html' %}
        {% include 'main/includes/menu.html' %}
        <div class="p-services-details">


            <div class="page-head">
                <div class="page-head__inner container">
                    <h1 class="page-head__title">{{ object.name }}</h1>
                </div>
            </div>
            <div class="block bg-white pb-sm static-content">
                <div class="container-md mb-md">
                    <div class="row row-grid-sm">
                        {% for heading_and_text in object.headings_with_text_blocks.all|slice:":2" %}
                            <div class="col-md-6">
                                <h2>{{ heading_and_text.heading }}</h2>

                                <p>{{ heading_and_text.text }}</p>

                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="container">
                    <div class="jumb jumb--sm"
                         style="background-image: url({{ object.main_img.url }});">
                        <div class="jumb__line"></div>
                        <div class="jumb__content">
                            <div class="h3-like">{{ object.image_text }}</div>
                        </div>
                        <div class="jumb__line"></div>
                    </div>
                </div>

            </div>
            <div class="block bg-white pb-sm static-content">
                <div class="container-md mb-md">
                    <div class="row row-grid-sm">
                        {% for chunk in object.headings_with_text_blocks.all|slice:"2:"|divide_by:2 %}
                            <div class="col-md-6">
                                {% for heading_and_text in chunk %}
                                    <h3>{{ heading_and_text.heading|safe }}</h3>

                                    <p>{{ heading_and_text.text|safe }}</p>

                                {% endfor %}
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="block">
                <div class="container-md">
                    <div class="ddown-list-title">{{ object.accordion.title }}</div>
                    <div class="ddown-list">
                        {% for accordion_heading_with_text in object.accordion.items.all %}
                            <div class="ddown">
                                <div class="ddown-head">
                                    <div class="ddown-head__name">{{ accordion_heading_with_text.heading|safe }}</div>
                                    <div class="ddown-head__toggle">
                                        <div class="plus">
                                            <div class="plus__line-1"></div>
                                            <div class="plus__line-2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ddown-body">
                                    <div class="ddown-body__inner">
                                        <div class="static-content">
                                            {{ accordion_heading_with_text.text|safe }}

                                            {% if accordion_heading_with_text.images.exists %}

                                                <div class="slick">

                                                    {% for accordion_img in accordion_heading_with_text.images.all %}

                                                        <div class="slick__item">
                                                            <picture>
                                                                <source srcset="{{ accordion_img.img.url }}"
                                                                        type="image/png">
                                                                <img src="{{ accordion_img.img.url }}"
                                                                     alt="{{ accordion_img.img.heading }}"/>
                                                            </picture>
                                                        </div>

                                                    {% endfor %}

                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="container">

                    {% with object.projects.all as items %}
                        {% include 'main/includes/projects-stack.html' %}
                    {% endwith %}


                </div>
            </div>


        </div>

        {% include 'main/includes/footer.html' %}
    </div>
{% endblock %}


