<footer class="footer">
    <div class="footer-top">
        <div class="footer-top__inner container">
            <div class="footer-row">
                <div class="footer-row__col">
                    <ul class="footer-list">
                        <li>
                            <a rel="nofollow" class="group text-nowrap" href="tel:+7 495 222 33 11">
                                <i class="icon-phone"></i>
                                <span>+7 495 222 33 11</span>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" class="group" href="mailto:info@reroom.ru">
                                <i class="icon-email"></i>
                                <span>	salazckin@gmail.ru</span>
                            </a>
                        </li>
                        <li>
                            <div class="group">
                                <i class="icon-map-point"></i>
                                <span>Москва, ул. Дурова 29</span>
                            </div>
                        </li>
                    </ul>
                    <ul class="footer-list">
                        <li>
                            <a class="group" href="https://www.instagram.com" target="_blank" rel="external"
                               title="инстаграм">
                                <i class="icon-instagram"></i>
                                <span>Подписывайтесь на наш инстаграм!</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-row__col">
                    <ul class="footer-list footer-list--sm">
                        <li>
                            <a href="#">Дизайн и проектирование</a>
                        </li>
                        <li>
                            <a href="#">Ремонт квартир и домов</a>
                        </li>
                        <li>
                            <a href="#">Ремонт офисов</a>
                        </li>
                        <li>
                            <a href="#">Строительство домов</a>
                        </li>
                        <li>
                            <a href="#">Проекты</a>
                        </li>
                    </ul>
                    <ul class="footer-list footer-list--sm">
                        <li>
                            <a href="#">Согласование перепланировок</a>
                        </li>
                        <li>
                            <a href="#">Технический надзор</a>
                        </li>
                        <li>
                            <a href="#">О компании</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bot">
        <div class="footer-bot__inner container">
            <div class="footer-bot__info">
                <div class="footer-bot__copyright"></div>
                <div class="footer-bot__dev">
                    разработка сайта — salazckin.github.io

                </div>
            </div>
            <button class="footer-bot__scrolltop" type="button">
                <i class="icon-up"></i>
            </button>
        </div>
    </div>
</footer>
