<footer class="footer">
    <div class="footer-top">
        <div class="footer-top__inner container">
            <div class="footer-row">
                <div class="footer-row__col">
                    <ul class="footer-list">
                        <li>
                            <a rel="nofollow" class="group text-nowrap" href="tel:{{ contact.phone }}">
                                <i class="icon-phone"></i>
                                <span>{{ contact.phone }}</span>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" class="group" href="mailto:{{ contact.email }}">
                                <i class="icon-email"></i>
                                <span>{{ contact.email }}</span>
                            </a>
                        </li>
                        <li>
                            <div class="group">
                                <i class="icon-map-point"></i>
                                <span>{{ contact.addr }}</span>
                            </div>
                        </li>
                    </ul>
                    <ul class="footer-list">
                        <li>
                            <a class="group" href="{{ contact.instagram_link }}" target="_blank" rel="external"
                               title="инстаграм">
                                <i class="icon-instagram"></i>
                                <span>{{ contact.instagram_text }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-row__col">
                    <ul class="footer-list footer-list--sm">
                        <li>
                            <a href="#">Дизайн и проектирование</a>
                        </li>
                        <li>
                            <a href="#">Ремонт квартир и домов</a>
                        </li>
                        <li>
                            <a href="#">Ремонт офисов</a>
                        </li>
                        <li>
                            <a href="#">Строительство домов</a>
                        </li>
                        <li>
                            <a href="#">Проекты</a>
                        </li>
                    </ul>
                    <ul class="footer-list footer-list--sm">
                        <li>
                            <a href="#">Согласование перепланировок</a>
                        </li>
                        <li>
                            <a href="#">Технический надзор</a>
                        </li>
                        <li>
                            <a href="#">О компании</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bot">
        <div class="footer-bot__inner container">
            <div class="footer-bot__info">
                <div class="footer-bot__copyright"></div>
                <div class="footer-bot__dev">
                    {{ contact.development }}

                </div>
            </div>
            <button class="footer-bot__scrolltop" type="button">
                <i class="icon-up"></i>
            </button>
        </div>
    </div>
</footer>
